
/* SEÇÃO DESING DE FUNDO */
body{
     background-image: url(fundo2.png);
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-position: center center;
     
     }



     h1{
 font-size:350%;
 color:#FFD700;
 margin-left:5%;
 margin-top: 70px;
}



.edit{
 font-size: 150%;
 color: #87CEFA;
 margin-left: 10%;


}


/* SEÇÃO BOTÃO DE NAVEGAÇÃO */
.botao1,.botao2,.botao3,.botao4{
background-color: black;

}

/* SEÇÃO ALINHAMENTO DOS BOTÕES */
.espaco{
 width:550px;
  color: rgb(2, 145, 145);
  margin-left: 25%;
  margin-top: 30px;
  text-align: justify;
}
/* CENTRALIZAR TEXTO */
.central{
    margin-left: 20%;
}


